<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Technical Lead and Senior Android Engineer at
      <a class="underline-link" href="https://www.varomoney.com/" target="_blank">Varo Bank</a>, where I build and scale mobile banking experiences that impact millions of users. I have 10+ years of experience in Android development, leading teams and designing robust, scalable architecture across fintech and product-based companies.
    </p>

    <p>
      I specialize in modern Android development using Kotlin, Jetpack Compose, GraphQL, and Clean Architecture. I’m passionate about writing high-quality code, mentoring engineers, and delivering intuitive mobile experiences that solve real-world problems.
    </p>

    <p>
      <strong>When I'm not building apps</strong>, you’ll find me exploring the outdoors, playing cricket, or tinkering with home automation projects.
    </p>
  </div>
</section>
