<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    {% for project in site.data.projects %}
    <div class="project {{ project.class }}">
      <figure class="project__pic {% if project.type == 'phones' %}phones{% endif %}">
        {% if project.type == 'phones' %}
          {% for image in project.images %}
          <div class="phone">
            <a href="{{ project.url }}" target="_blank">
              <img src="{{ site.baseurl }}{{ image }}" alt="{{ project.name }} screenshot">
            </a>
          </div>
          {% endfor %}
        {% else %}
          <a href="{{ project.url }}" target="_blank">
            <img src="{{ site.baseurl }}{{ project.images[0] }}" alt="{{ project.name }} screenshot">
          </a>
        {% endif %}
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
        </div>
        <p>{{ project.description }}</p>
      </figcaption>
    </div>
    {% endfor %}
  </div>
</section> 